## DockerFile Mysql

In [1]:
dockerfile = '''# Usa l'immagine ufficiale di MySQL
FROM mysql:latest

# Imposta variabili d'ambiente (minime necessarie)
ENV MYSQL_ROOT_PASSWORD=rootpassword
ENV MYSQL_DATABASE=mydb
ENV MYSQL_USER=myuser
ENV MYSQL_PASSWORD=mypassword

# Espone la porta
EXPOSE 3306
'''

with open("Dockerfile", "w") as f:
    f.write(dockerfile)

print("✅ Dockerfile creato.")

✅ Dockerfile creato.

## Build & Run

Da terminale, nella stessa cartella dove hai Dockerfile:

```bash 
# Build dell'immagine
docker build -t my-mysql .

# Esecuzione
docker run -d --name mysql-container -p 3306:3306 my-mysql```

## Libreria per i DB Mysql

In [ ]:
!pip install mysql-connector-python

## Connessione al DB

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="myuser",
  password="mypassword",
  port=3306
)
print("Funzionante")

Funzionante

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="myuser",
  password="mypassword",
  port=3306
)

mycursor = mydb.cursor()
query = "SHOW DATABASES"
mycursor.execute(query)

for x in mycursor:
  print(x)

('information_schema',)
('mydb',)
('performance_schema',)

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="myuser",
  password="mypassword",
  port=3306,
  database="mydb"
)

mycursor = mydb.cursor()

query= "create table utenti(id int auto_increment primary key, nome varchar(50), via varchar(50))"

mycursor.execute(query)

In [11]:
query ="insert into utenti(nome,via) values(%s,%s)"
val= ("tommaso","via roma")

mycursor.execute(query,val)

mydb.commit()

print(mycursor.rowcount, "righe inserite")

1 righe inserite

In [12]:
query ="insert into utenti(nome,via) values(%s,%s)"
val= [("giovanni","via milano"),
      ("alfredo","via napoli")]

mycursor.executemany(query,val)

mydb.commit()

print(mycursor.rowcount, "righe inserite")

2 righe inserite

In [14]:
query="select * from utenti"

mycursor.execute(query)

result= mycursor.fetchall()

for risultato in result:
    print(risultato)

(1, 'tommaso', 'via roma')
(2, 'giovanni', 'via milano')
(3, 'alfredo', 'via napoli')